{% extends 'store/base.html' %}

{% block title %}Productos{% endblock %}

{% block content %}
    <h2>Productos</h2>
    {% if request.user.is_authenticated %}
        <a href="{% url 'producto_crear' %}" class="btn btn-primary mb-3">+ Agregar producto</a>
    {% endif %}
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - ${{ producto.precio }} | Stock: {{ producto.stock }}
                <a href="{% url 'producto_detalle' producto.pk %}">Ver detalle</a>
            </li>
        {% empty %}
            <p>No hay productos aún.</p>
        {% endfor %}
    </ul>
{% endblock %}